@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .markerabout::before {
    content: url("/image/marker-icon.png");
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 16px;
  }

  .transformid {
    transform: translate(-50%, -50%);
  }

  .benefitsStrong strong {
    color: #ff472e;
  }

  @media screen and (min-width: 1310px) {
    .unsetWidth {
      max-width: unset;
    }
  }
}
